main {
    
    #comics {
        @include center-x(70%);

        .contenitore {
            padding: 20px 0;
            display: flex;
            flex-wrap: wrap;

            .movie {
                width: calc((100% / 6) - 10px);
                margin: 20px 5px;

                .bg-movie {
                    background-size: cover;
                    width: 100%;
                    aspect-ratio: 1;
                    margin: 10px 0;
                }

                p {
                    color: white;
                    text-transform: uppercase;
                    font-size: $f-small;
                }

            }

        }
        .button{
            background-color: $blue;
            text-transform: uppercase;
            font-weight: bolder;
        }


    }
}
